:root {
    --color-s: #ff7f80;
    --color-a: #ffc07f;
    --color-b: #ffdf80;
    --color-c: #fdff7f;
    --color-d: #bfff7f;
    --color-e: #7fff7f;
  }

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    padding: 0.5rem;
    user-select: none;
}

img:not(.title){
    width: 66px;
    height: 66px;
    object-fit: cover;
    border-radius: 50%;
    cursor: grab;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 535px;
    margin: 0 auto;
}

.header{
    padding: 1rem;
}

.title{
    width: 300px;
}

.tierlist{
    display: flex;
    flex-direction: column;
    width: 100%;

    & .tier{
        display: flex;
        align-items: center;
        width: 100%;
        background-color: var(--level);
    }

    & .tier-name{
        width: 70px;
        height: 66px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-size: 0.8rem;
        overflow: hidden;
    }

    & .tier-sort{
        width: 100%;
        min-height: 66px;
        background-color: rgb(38, 36, 36);
        border: 1px solid;
        overflow: hidden;
        transition: background-color 0.3s ease;
    }

    & span{
        overflow: hidden;
        text-align: center;
    }
}

.container-img{
    margin-top: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    padding-block: 1rem;
    border-radius: 2rem;
    gap: 0.3rem;
}

#save-tier-button{
    background-color: black;
    margin-top: 1rem;
    color: white;
    border: none;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
}

.highlight{
    background-color: white !important;
}