*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --gray: #ececec;
    --white: #f7f7f7;
    --black: #1c1c1c;
}

body{
    background-color: var(--gray);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.fa-earth-americas{
    color: rgb(13, 21, 233);
}

.wrapped{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    margin: 0 auto;
    padding: 1rem 2rem 3rem;
    position: relative;
}

.weather-top,
.weather-bottom{
    width: 100%;   

}

.weather-position{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color:var(--white);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    padding: 1rem;
    
}

.weather-img{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.img{
    margin-left: -0.5rem;
}
.temperature{
    font-size: 1.2rem;
    font-weight: 600;
}

.description{
    font-weight: 600;
    margin-bottom: 0.6rem;
    margin-left: 4px;
}

.extend-description{
    font-weight: 600;
    margin-bottom: 0.4rem;
    
}

.weather-container-info{
    display: flex;
    align-items: center;
}

.weather-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
    margin-top: 0.1rem;
}

.weather-info-text{
    margin-left: 0.3rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.search-title,
.extend{
    margin-top: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.input{
    padding: 0.5rem;
    border: none;
    border-radius: 0.25rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    min-width: 250px;
}
.btn{
    padding: 0.5rem;
    background-color: var(--white);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    border: none;
    border-radius: 0.25rem;
    margin-left: 1rem;
    width: 6rem;
    cursor: pointer;
}

.btn:hover{
    background-color: blue;
    color: white;
}

.container-extend{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:2rem;
    border-radius: 1rem;

}

.days-extend{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    background-color: var(--white);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
    padding: 1rem;
    transition: 200ms ease;
}

.btn:hover,
.days-extend:hover{
    transform: scale(1.05);
    background: #fff;
	color: #222831;
	box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
}

.flex{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 0.4rem;
}

.flex-eye{
    display: flex;
    justify-content: flex-end;
}

.extend-img{
    width: 60px;
   
}

.temp{
    margin-left: 0.3rem;
}

.myChart{
    width: 100%;
}

#myChart,
#chart{
    margin-top: 2rem;
    width: 100% !important;
    
}

.view-more{
    position: absolute;
    background-color: var(--white);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .4);
    width: 100%;
}

.close{
    position: absolute;
    top: 0;
    right: 0;
    text-align: end;
    padding: 0.5rem;
    border: none; 
    background-color: transparent;
    cursor: pointer;
}

.close:hover{
    background-color:rgba(54, 162, 235);
    color: white;
}


.fa-eye{
    cursor: pointer;
}

.hidden{
    display: none;
}

.link {
    position: relative;
    color: black;
    font-weight: 600;
}

.link::before{
    content: attr(data-texto);
    position: absolute;
    bottom: 100%;
    background-color: var(--black);
    font-weight: 400;
    font-size: .8em;
    padding: .25rem .5rem;
    border-radius: .25rem;
    color: var(--white);
    transform: scale(0);
    transform-origin: bottom left;
    transition: .15s;
}

.link:hover::before {
    transform: scale(1);
}

@media (width <= 575px){
    .container-extend{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (width <=435px){
    .container-extend{
        grid-template-columns: 1fr;
    }
    .input{
        min-width:150px;
        margin-right: 0.2rem;
    }
    .btn{
        width: 4rem;
        margin-left: 0;
    }

}